/* Line heights. */
$lh-s: 1.25;
$lh-m: 1.5;
$lh-l: 2;

/* Letter spacings. */
$ls-s: 0.05em;
$ls-m: 0.1em;
$ls-l: 0.2em;

/* Border radius */
$border-radius-l: 1rem;
$border-radius-m: 0.5rem;
$border-radius-s: 0.2rem;
$border-radius-circle: 50%;

/* Borders */
$border-m: 0.125rem;

/* Width */

$width-70: 70%;
$width-90: 90%;
$width-100: 100%;